# Pandas UltraQuick Tutorial

Import required libraries:

In [1]:
import numpy as np
import pandas as pd

Create a 3x4 DataFrame with columns Eleanor, Chidi, Tahani, & Jason. Populate with randint from 0-100.

In [2]:
a34 = np.random.randint(low=0, high=101, size=(3,4))
print(a34)

[[ 60   0  25  16]
 [ 13  38   9  95]
 [100  76  28  57]]

In [3]:
colnm = ['Eleanor', 'Chidi', 'Tahani', 'Jason']
df1 = pd.DataFrame(data=a34, columns=colnm)
print(df1)
print("\nSecond row of Eleanor: %d\n" % df1['Eleanor'][1])

   Eleanor  Chidi  Tahani  Jason
0       60      0      25     16
1       13     38       9     95
2      100     76      28     57

Second row of Eleanor: 13

Create a fifth column "Janet", with value = row sums of Tahani + Jason

In [4]:
df1['Janet'] = df1['Jason'] + df1['Tahani']
print(df1)

   Eleanor  Chidi  Tahani  Jason  Janet
0       60      0      25     16     41
1       13     38       9     95    104
2      100     76      28     57     85

Create a true copy, and a simple reference of the previous DataFrame:

In [9]:
df_ref = df1
df_cpy = df1.copy()
df_ref.at[1, 'Jason'] = df_ref['Jason'][1] + 99
df_cpy.at[1, 'Jason'] = df_cpy['Jason'][1] + 999
print("Original:\n", df1)
print("Reference:\n", df_ref)
print("Copy:\n", df_cpy)

Original:
    Eleanor  Chidi  Tahani  Jason  Janet
0       60      0      25     16     41
1       13     38       9    392    104
2      100     76      28     57     85
Reference:
    Eleanor  Chidi  Tahani  Jason  Janet
0       60      0      25     16     41
1       13     38       9    392    104
2      100     76      28     57     85
Copy:
    Eleanor  Chidi  Tahani  Jason  Janet
0       60      0      25     16     41
1       13     38       9   1292    104
2      100     76      28     57     85